:root {
  --header-height: 10vh;
  --header-bg-clr: #0d0d0d;
  --header-font-clr: #1df2dd;
  --body-bg-clr: #fff;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100vw;
  height: var(--header-height);
  padding: 0.5rem 1rem;
  background-color: var(--header-bg-clr);
  color: var(--header-font-clr);
}

.app-title {
  font-size: 2rem;
  font-weight: 600;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-color: var(--body-bg-clr);
  width: 100vw;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}
